form.selectors {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.specs-container button {
  border-radius: 35px;
}

.specs-container h2 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
}

.specs-container label {
  font-size: larger;
  font-weight: bold;
  text-align: left;
  margin-top: 2rem;

  /* Align labels to the left */
}

#select {
  width: 50%;
  margin-top: 1rem;
  border-style: none;
}

#capacite-stockage {
  display: flex;
  flex-wrap: wrap;
}

#capacite-stockage button {
  background-color: darkblue;
  flex: 0 0 calc(33.33% - 10px);
  color: white;
  height: 3rem;
  margin: 5px;
  font-size: larger;
}

#ram {
  display: flex;
  flex-wrap: wrap;
}

#ram button {
  background-color: darkblue;
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  color: white;
  height: 3rem;
  font-size: larger;
}

#etat {
  display: flex;
  flex-wrap: wrap;
}

#etat button {
  background-color: darkblue;
  flex: 0 0 calc(33.33% - 10px);
  color: white;
  height: 3rem;
  margin: 5px;
}

.specs-container h3 {
  width: 100%;
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

#validation button {
  color: white;
  height: 3rem;
  background-color: #00acb0;
  width: 5rem;
  border-radius: 35px;
}

#retour button {
  background-color: grey;
  color: white;
  height: 3rem;
  width: 5rem;
  border-radius: 35px;
}

@media screen and (min-width: 768px) {
}
