.titre {
  display: flex;
  justify-content: center;
  height: 20rem;
  font-size: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 4rem;
  font-size: 26px;
}

.blue-button {
  background-color: #00acb0;
  color: white;
  border-radius: 59px;
}

.image {
  display: flex;
  width: 80%;
  margin: auto;
}

.HelloSandrine {
  color: #00acb0;
}

@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .image {
    width: 30%;
  }
}
